* {
    box-sizing: border-box;
}

body {
    background-image: url(mikulas/kepek/hatter.jpg);
}

main {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    background-color: RGB(255,255,230);
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
        "h h"
        "h h"
        "n n"
        "as ar"
        "f f"
        ;

}

header {
    grid-area: h;
    opacity: 0,8;
    background-image: url(mikulas/kepek/fejlec.jpg);
    height: 550px;
    color: red;
    font-family: cursive;
}

h1 {
    margin: 60px;
    text-align: center;
}

nav {
    grid-area: n;
    background-color: red;
    height: 50px;

}

nav ul {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin: 5px;
}

nav li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

li a {
    text-decoration: none;
    color: white;

}

nav a:hover {
    color: green;
}

article {
    grid-area: ar;
    text-align: justify;
}

article p {
    text-size-adjust: 10px;
}

article h2 {
    text-size-adjust: 15px;
    color: #ff1a1a;
}

aside {
    grid-area: as; 
}

aside .img {
    width: 100%;
}

footer {
    grid-area: f;
}
